{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Chat Panel</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.js' %}" ></script>
    <script src="{% static 'js/bootstrapjs.js' %}" ></script>
  </head>
  <body>
    <div class="container">
      <h5>Logged:{{current_user}}</h5>
      <h5>Messages:</h5>
    </div>
  </body>

<!-- <script src="{% static 'js/chat.js' %}"></script> -->
</html>