{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Chat Panel</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.js' %}" ></script>
    <script src="{% static 'js/bootstrapjs.js' %}" ></script>
  </head>
  <body>
    <div class="container">
        <h1>Logged In as: {{ current_user }}</h1>
        <a href="{% url 'home' %}" >Home</a>
        <div id="chat-body" class="panel panel-default">
            <div class="panel-heading"> Chat Box</div>
            <div id="msg-list-div" class="list-group">
              <ul id="msg-list" class="list-group">
                {% for obj in chat %}
                  {% if obj.user == request.user %}
                    <li class="text-right list-group-item">{{obj.message}}
                        <h6>Me</h6>    
                    </li>
                  {% else %}
                    <li  class="text-left list-group-item">{{obj.message.user.username}}
                        <h6>Other</h6>  
                    </li>
                  {% endif %}
                {% empty %}
                  <li class="text-right list-group-item">No Messages yet</li>
                {% endfor %}
              
                <!-- the code below is used for scrolling to the bottom of the message page so that the users can see the latest messages -->
                <script>
                  var chatlist = document.getElementById('msg-list-div');
                  chatlist.scrollTop = chatlist.scrollHeight;
                </script>
              </ul>
            </div>
       
          </div>
      
          <!-- this is the form section -->
      
          <form id="chart-form" method="post" action = "/post/">
            {% csrf_token %}
            <div id="chat-bottom" class="input-group"> 
              <input type="text" id ="chat-msg" name="chat-msg" class="form-control"/>
              <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
              </span>
            </div>
          </form>

    </div>
  </body>

<script src="{% static 'js/chat.js' %}"></script>
</html>